* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto";
   }
   html {
    height: 100%;
    width: 100%;
   }
   
   /* NAVBAR STYLING START */
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d96c;
    height: 55px;
    color: white;
   } 
   .logo-title {
    font-size: 1.5rem;
    margin: 0.5rem;
    display: flex;
   }
   .nav-logo {
    height: 40px;
    width: auto;
   }

   .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
   }
   .navbar-links li {
    list-style: none;
   }
   .navbar-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 1rem;
    display: block;
   }
   .home-hover:hover {
    background-color: #3749729e;
    height: 55px;
   }
   .about-hover:hover {
    background-color: #3749729e;
    height: 55px;
   }
   .testimonials-hover:hover {
    background-color: #3749729e;
    height: 55px;
   }
   .volunteer-hover:hover {
    background-color: #3749729e;
    height: 55px;
    margin-right: 10px;
   }
   .donate-hover:active {
    /* background-color: #9b03054b; */
    height: 59px;
   }
   #donate-nav {
    background-color:rgb(184,11,12);
    border: solid rgb(0, 0, 0) 1px;
    height:55px;
    font-weight: 400;
   }
   .search-bar {
    margin-top: 15px;
    border-radius: 50px;
    background-color: #d9d9d96c;
   }
   .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
   }
   .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #374972;
    border-radius: 10px;
   }
   .logo-title {
    color: #374972;
    font-style: bold;
    font-weight: 550;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
   }
   .nav-logo {
    height: 50px;
    width: 50px;
   }
   /* NAV STYLING END */


    /* ABOUT US STYLING START */

    body {
        background-image: url("image.jpg"); 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0; 
        padding: 0; 
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .main {
        flex-grow: 1;
         display: flex;
        flex-direction: column;
    }
    
    #Aboutus {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;
    
    }
   
   #about{
    margin-left: 70px;
    margin-right: 70px;
   }
   
    .heading {
        text-align: center;
        font-size: 42px;
    }
    
    #Aboutus h1 {
        margin: 60px;
        text-align: center;
        justify-content: center;
    }
    
    .columns {
        display: grid;
        grid-template-columns: auto auto; 
        padding-left: 25px; 
        gap: 20px;

    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .left {
        display: flex;
        align-items: flex-start;
        width: 100%;
        /* height: fixed; */
    
    }
   
    .core-values-container {
        justify-content: flex-start;
        width: 100%;
        margin: 20px 0;
        padding-right: 70px;
        display: flex;
        flex-direction: row-reverse;
    }
    .core-values-container > .box {
        flex-grow: 1;
    }
    
    .box {
        max-width: 700px;
        height: 100%;
        min-height: 175px; 
        border-radius: 20px;
        padding: 20px; 
        margin: 10px;
        background-color: rgba(183, 19, 19, 0.8); 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        text-align: center; 

    }
    

    .box h2 {
        color: black; 
        font-size: 1.5rem; 
        margin-bottom: 20px;
    }
    
    .box p {
        color: black; 
        font-size: 1rem; 
    }
    #quote {
        margin-top: 20px;
        padding: 20px;
        background-color: black;
        color: white;
        text-align: center;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
   /* FOOTER STYLING START */
   .logo-title.footer{
    background-color: #d9d9d9da;
    position: relative;
    margin: 0;
   }
   footer {
    position: relative;
    bottom: 0;
    width: 100%;
   }

   /* FOOTER STYLING END */

   /*@media only screen and (max-width:480px) {
#quote {
    width:100%;
}

}
   